body {
    width: 100%;
}

main {
    
}

@media only screen and (min-width: 426px) {
    main {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
}

@media only screen and (min-width: 768px) {
    main {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    #presentation {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }
}